In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-23 17:45:19,-23.1203,-134.9692,78.44,67,6,11.10
1,1,Garowe,SO,2021-01-23 17:45:19,8.4054,48.4845,71.04,52,67,17.25
2,2,Saldanha,ZA,2021-01-23 17:45:20,-33.0117,17.9442,69.80,73,30,16.11
3,3,Saint-Augustin,CA,2021-01-23 17:45:20,51.2260,-58.6502,34.47,97,100,9.64
4,4,Cape Town,ZA,2021-01-23 17:42:50,-33.9258,18.4232,71.01,82,90,14.97

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-01-23 17:45:19,-23.1203,-134.9692,78.44,67,6,11.10
9,9,Trincomalee,LK,2021-01-23 17:45:21,8.5711,81.2335,78.06,75,1,11.14
10,10,Sao Joao Da Barra,BR,2021-01-23 17:45:21,-21.6403,-41.0511,86.00,48,40,16.11
13,13,Filingue,NE,2021-01-23 17:45:22,14.3521,3.3168,77.34,15,4,8.34
15,15,Mar Del Plata,AR,2021-01-23 17:45:22,-38.0023,-57.5575,89.60,48,0,9.22
18,18,Butaritari,KI,2021-01-23 17:45:23,3.0707,172.7902,79.12,82,56,11.72
21,21,Soubre,CI,2021-01-23 17:45:23,5.7856,-6.6083,87.12,38,51,2.26
32,32,Atuona,PF,2021-01-23 17:45:26,-9.8000,-139.0333,77.94,79,3,15.99
34,34,Eyl,SO,2021-01-23 17:45:27,7.9803,49.8164,75.02,69,77,19.60
36,36,Mackay,AU,2021-01-23 17:45:28,-21.1500,149.2000,77.00,73,40,12.66

In [22]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0             Rikitea      PF     78.44 -23.1203 -134.9692
9         Trincomalee      LK     78.06   8.5711   81.2335
10  Sao Joao Da Barra      BR     86.00 -21.6403  -41.0511
13           Filingue      NE     77.34  14.3521    3.3168
15      Mar Del Plata      AR     89.60 -38.0023  -57.5575
18         Butaritari      KI     79.12   3.0707  172.7902
21             Soubre      CI     87.12   5.7856   -6.6083
32             Atuona      PF     77.94  -9.8000 -139.0333
34                Eyl      SO     75.02   7.9803   49.8164
36             Mackay      AU     77.00 -21.1500  149.2000

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.44,-23.1203,-134.9692,Pension Maro'i
9,Trincomalee,LK,78.06,8.5711,81.2335,Welcombe Hotel
10,Sao Joao Da Barra,BR,86.00,-21.6403,-41.0511,Pousada Porto De Canoas
13,Filingue,NE,77.34,14.3521,3.3168,
15,Mar Del Plata,AR,89.60,-38.0023,-57.5575,Gran Hotel Mar del Plata
...,...,...,...,...,...,...
529,Honiara,SB,75.96,-9.4333,159.9500,Heritage Park Hotel
530,Astorga,BR,80.60,-23.2325,-51.6656,Rancho Jads
534,Ouargaye,BF,82.45,11.5033,0.0572,Résidence le Cotonnier
543,Sinnamary,GF,79.38,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
544,Bima,ID,76.87,-8.4667,118.7167,Lambitu Hotel

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [43]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))